<img src=<%=@user_avatar%>>
<h2><%= "#{@user['first_name']} #{@user['last_name']}" %></h2>
<p>Match Won:<%= @user['active']['matches_won']%> </p>
<p>Match Lost:<%= @user['active']['matches_lost']%> </p>
<p>Games Won:<%= @user['active']['games_won']%> </p>
<p>Games Lost:<%= @user['active']['games_lost']%> </p>
