<h2>Schedule</h2>
<br>
<div class='columnA'>
  <div id='begSchedule'>

    <% @b_matches.each_with_index do |m,i| %>
      <% if m['won'] %>
        <div class='oponents_div match_played'>
      <% else %>
        <div class='oponents_div'>
      <% end %>
        <div class=''>
          <ul class='oponent-list'>
            <li>
              <img src=<%= grav(m['participants'][0]) %>>
              <span class='text-content'><span><%= m['participants'][0] == m['player_won'] ? m['won'] : m['lost'] %></span></span>
            </li>
            <li>
              <img src=<%= grav(m['participants'][1]) %>>
              <span class='text-content'><span><%= m['participants'][1] == m['player_won'] ? m['won'] : m['lost'] %></span></span>
            </li>
            <% if m['won'] %><img class='checkmark' src='/images/ok_2.png'/><% end %>
          </ul>
        </div>
      </div>
    <% end %>

  </div>
</div>

<div class='columnB'>
  <div id='intSchedule'>

    <% @i_matches.each_with_index do |m,i| %>
      <% if m['won'] %>
        <div class='oponents_div match_played'>
      <% else %>
        <div class='oponents_div'>
      <% end %>
        <div class=''>
          <ul class='oponent-list'>
            <li>
              <img src=<%= grav(m['participants'][0]) %>>
              <span class='text-content'><span><%= m['participants'][0] == m['player_won'] ? m['won'] : m['lost'] %></span></span>
            </li>
            <li>
              <img src=<%= grav(m['participants'][1]) %>>
              <span class='text-content'><span><%= m['participants'][1] == m['player_won'] ? m['won'] : m['lost'] %></span></span>
            </li>
            <% if m['won'] %><img class='checkmark' src='/images/ok_2.png'/><% end %>
          </ul>
        </div>
      </div>
    <% end %>

  </div>
</div>


<p class='cur_week'> <%= @string %> </p>
<div id='prevWeek' class='prevIcon'>
  <img class='icon' src="/images/chevron-left.png">
</div>
<div id='nextWeek' class='nextIcon'>
  <img class='icon' src="/images/chevron-right.png">
</div>

