
<h2>Schedule</h2>
<br>
<div class='columnA'>
  <h3>Kukulkan</h3>
  <div id='begSchedule'>

    <% @b_matches.each_with_index do |m,i| %>
      <div class='oponents_div'>
        <div class='oponents_wrapper'>
          <div class='oponent'>
            <img src=<%= grav(m['participants'][0]) %>>
          </div>
          <div class='oponent'>
            <img src=<%= grav(m['participants'][1]) %>>
          </div>
          <div class='footer'>
            <p>
              <%= m['participants'][0].split('@')[0].capitalize %>
              vs
              <%= m['participants'][1].split('@')[0].capitalize %>
            </p>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>

<div class='columnB'>
  <h3>Copenhagen</h3>
  <div id='intSchedule'>

    <% @i_matches.each_with_index do |m,i| %>
      <div class='oponents_div'>
        <div class='oponents_wrapper'>
          <div class='oponent'>
            <img src=<%= grav(m['participants'][0]) %>>
          </div>
          <div class='oponent'>
            <img src=<%= grav(m['participants'][1]) %>>
          </div>
          <div class='footer'>
            <p>
              <%= m['participants'][0].split('@')[0].capitalize %>
              vs
              <%= m['participants'][1].split('@')[0].capitalize %>
            </p>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>

<br>
<br>
<br>
<br>
<a id='prevWeek' href="">Prev Week  </A>
<span class='cur_weel'> <%= @string %> </span>
<a id='nextWeek' href=""> Next Week</A>
