

<h2>Standings</h2>
<br>
<div class='columnA'>
  <h3>Kukulkan</h3>
<!-- this is SO SO SO SO SO SO Silly -->
<!-- use a template or something -->
  <table class='standings_table' align='center'>
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th class='double_column' colspan="2">Match</th>
        <th class='double_column' colspan="2">Game</th>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>W</th>
        <th>L</th>
        <th>W</th>
        <th>L</th>
      </tr>
    </thead>
    <tbody>
      <% @beg_players.each_with_index do |p,i| %>
        <tr>
          <td class='narrow' ><%= i+1 %></td>
          <td class='narrow'><a href=<%= "/player/#{p['email']}"%>><img src=<%= grav(p['email']) %>/></a></td>
          <td class='narrow name'><a href=<%= "/player/#{p['email']}"%>><%= "#{p['first_name']}"%></a></td>
          <td><%= p['active']['matches_won'] %></td>
          <td><%= p['active']['matches_lost'] %></td>
          <td><%= p['active']['games_won'] %></td>
          <td><%= p['active']['games_lost'] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<div class='columnB'>
  <h3>Copenhagen</h3>
  <table class='standings_table' align='center'>
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th class='double_column' colspan="2">Match</th>
        <th class='double_column' colspan="2">Game</th>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>W</th>
        <th>L</th>
        <th>W</th>
        <th>L</th>
      </tr>
    </thead>
    <tbody>
      <% @int_players.each_with_index do |p,i| %>
        <tr>
          <td class='narrow' ><%= i+1 %></td>
          <td class='narrow'><a href=<%= "/player/#{p['email']}"%>><img src=<%= grav(p['email']) %>/></a></td>
          <td class='narrow name'><a href=<%= "/player/#{p['email']}"%>><%= "#{p['first_name']}"%></a></td>
          <td><%= p['active']['matches_won'] %></td>
          <td><%= p['active']['matches_lost'] %></td>
          <td><%= p['active']['games_won'] %></td>
          <td><%= p['active']['games_lost'] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

